@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #1a1a1a;
  box-sizing: border-box;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }
  body main {
    padding-bottom: 80px;
    margin-top: 0;
    flex-grow: 1;
    overflow-x: hidden; }
    body main section {
      overflow-y: hidden; }

/* RESETEO */
ul {
  list-style-type: none;
  padding-left: 0px; }

a:link, a:visited, a:active {
  text-decoration: none; }

i {
  color: #1a1a1a; }

/* HEADER Y NAV */
header {
  flex-shrink: 0;
  background-color: #f6f6f6;
  /* logo */ }
  header img {
    width: 100px; }

.contenedor-nav {
  background-color: #f6f6f6;
  z-index: 10;
  border-bottom: 1px solid #1a1a1a; }

/* buscador y carrito */
.navbar-btn-container {
  width: 80px;
  order: 100; }
  .navbar-btn-container .navbar-btn {
    background-color: #f6f6f6;
    border: none;
    padding: 10px; }
    .navbar-btn-container .navbar-btn i {
      transition: color 0.3s ease; }
      .navbar-btn-container .navbar-btn i:hover {
        color: #ff9a9a; }

/* barra de busqueda */
#contenedorBusqueda {
  position: fixed;
  top: -10px;
  width: 100%;
  background-color: #f6f6f6;
  padding: 15px 15px 12px 15px;
  z-index: 9;
  left: 50%;
  transform: translateX(-50%);
  transition: all 600ms;
  display: flex; }
  #contenedorBusqueda input {
    display: block;
    width: 50%;
    padding: 10px 15px;
    font-size: 1rem;
    color: #1a1a1a;
    border: 2px solid rgba(26, 26, 26, 0.3);
    border-radius: 4px; }
  #contenedorBusqueda #botonBuscar {
    padding: 0px 16px;
    margin-left: 20px;
    background-color: #1a1a1a;
    color: #f6f6f6;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    transition: color 0.3s ease; }
    #contenedorBusqueda #botonBuscar:hover {
      background-image: linear-gradient(to bottom, #ff9a9a, #fbadad);
      color: #1a1a1a; }

/* boton lupa cuando está el buscador abierto */
.botonCerrarBuscador {
  color: #1a1a1a;
  font-size: 1.33rem;
  transition: color 0.3s ease; }
  .botonCerrarBuscador:hover {
    color: #ff9a9a; }

/* caja de resultados */
#cajaBusqueda {
  position: fixed;
  top: 136px;
  width: 49%;
  background-color: #f6f6f6;
  z-index: 8;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0px 0px 8px 8px;
  display: none;
  padding-top: 10px; }
  #cajaBusqueda li a {
    display: block;
    color: #1a1a1a;
    width: 100%;
    padding: 8px 15px;
    font-weight: 400;
    font-size: 0.9rem; }
    #cajaBusqueda li a i {
      margin-right: 20px;
      color: rgba(26, 26, 26, 0.3); }
    #cajaBusqueda li a:hover {
      color: #f6f6f6;
      background-color: #1a1a1a; }
      #cajaBusqueda li a:hover i {
        color: rgba(246, 246, 246, 0.5); }
    #cajaBusqueda li a img {
      border-radius: 4px;
      width: 60px;
      margin-right: 20px; }

/* background cuando el buscador está abierto */
#fondoOscuroBusqueda {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: none; }

/* items del nav */
.nav-link {
  color: #1a1a1a;
  font-weight: 500;
  transition: color 0.3s ease; }
  .nav-link:hover {
    color: #ff9a9a; }

/* catalogo: menu desplegable (hover) */
.desplegable {
  display: inline-block;
  position: relative; }
  .desplegable:hover .desplegable-contenido {
    display: block; }
  .desplegable .desplegable-contenido {
    display: none;
    position: absolute;
    width: 188px;
    overflow: auto;
    background-color: #f6f6f6;
    border-radius: 0px 0px 4px 4px;
    font-weight: 400;
    text-align: left; }
    .desplegable .desplegable-contenido a {
      display: block;
      color: #1a1a1a;
      padding: 8px 16px;
      text-decoration: none; }
      .desplegable .desplegable-contenido a:hover {
        color: #f6f6f6;
        background-color: #1a1a1a; }

/* catalogo: menu desplegable (dropdown) */
#menu-desplegable-hamburguesa {
  display: none; }

/* media queries: header */
@media screen and (max-width: 991.5px) {
  /* buscador y carrito */
  .navbar-btn-container {
    order: 0; }
  /* barra de busqueda */
  #contenedorBusqueda {
    padding: 12px 12px 9px 12px; }
    #contenedorBusqueda input {
      padding: 8px 12px;
      font-size: 0.8rem; }
    #contenedorBusqueda #botonBuscar {
      padding: 0px 13px;
      border-radius: 8px;
      font-size: 0.7rem; }
  /* caja de resultados */
  #cajaBusqueda {
    top: 130px;
    padding-top: 0px; }
    #cajaBusqueda li a {
      padding: 6px 13px;
      font-size: 0.8rem; }
  /* menu hamburguesa (responsive) */
  .navbar-toggler {
    border: none;
    color: #f6f6f6; }
  /* catalogo: menu desplegable (hover) */
  #menu-desplegable-hover {
    display: none; }
    #menu-desplegable-hover .desplegable {
      display: none; }
      #menu-desplegable-hover .desplegable .desplegable-contenido {
        display: none; }
  /* catalogo: menu desplegable (dropdown) */
  #menu-desplegable-hamburguesa {
    display: block; }
    #menu-desplegable-hamburguesa .dropdown-menu {
      background-color: #f6f6f6;
      border: none; }
      #menu-desplegable-hamburguesa .dropdown-menu .dropdown-first-item {
        font-weight: 500; }
      #menu-desplegable-hamburguesa .dropdown-menu .dropdown-item:hover {
        color: #f6f6f6;
        background-color: #1a1a1a; } }

@media screen and (max-width: 576px) and (min-width: 320px) {
  /* buscador y carrito */
  .navbar-btn-container {
    width: 60px;
    margin-right: 15px; }
    .navbar-btn-container .navbar-btn {
      padding: 4px; }
  /* barra de busqueda */
  #contenedorBusqueda {
    padding: 10px 10px 7px 10px; }
    #contenedorBusqueda input {
      padding: 6px 9px;
      font-size: 0.6rem;
      border: 1px solid rgba(26, 26, 26, 0.3); }
    #contenedorBusqueda #botonBuscar {
      padding: 0px 8px;
      border-radius: 4px;
      font-size: 0.5rem; }
  /* caja de resultados */
  #cajaBusqueda {
    width: 80%;
    right: 10%;
    top: 115px;
    padding-top: 2px;
    border-radius: 0px 0px 6px 6px; }
    #cajaBusqueda li a {
      padding: 4px 10px;
      font-size: 0.6rem; }
      #cajaBusqueda li a img {
        width: 40px; } }

/* CARRITO */
/* background modal carrito */
.modalFondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 7777;
  background-color: rgba(0, 0, 0, 0.4); }

/* modal carrito */
#modalContenedor {
  width: 70%;
  margin: 10%, 15%;
  max-height: 90vh;
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 8888;
  border-radius: 20px;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* titulo del carrito */
  /* informacion de los productos en el carrito */ }
  #modalContenedor .modalTitulo {
    width: 100%;
    background-color: #1a1a1a;
    position: sticky;
    top: 0;
    z-index: 9999;
    /* botón para cerrar carrito */ }
    #modalContenedor .modalTitulo h2 {
      font-size: 1.75rem;
      font-weight: 500;
      color: #f6f6f6; }
    #modalContenedor .modalTitulo .modalBoton {
      background-color: #1a1a1a;
      border: none;
      padding: 10px;
      display: flex;
      justify-content: center; }
      #modalContenedor .modalTitulo .modalBoton i {
        color: #f6f6f6;
        font-size: 1.5rem;
        transition: color 0.3s ease; }
        #modalContenedor .modalTitulo .modalBoton i:hover {
          color: #ff9a9a; }
  #modalContenedor .carritoProductos {
    display: felx;
    flex-direction: row;
    align-content: space-around;
    align-items: center;
    width: 90%;
    padding: 10px;
    border-bottom: 1px solid rgba(255, 154, 154, 0.4);
    /* nombre */
    /* imagen */
    /* precio */
    /* botón para eliminar un producto del carrito */ }
    #modalContenedor .carritoProductos a h5 {
      font-size: 1rem;
      color: #f6f6f6;
      transition: color 0.3s ease; }
      #modalContenedor .carritoProductos a h5:hover {
        color: #ff9a9a; }
    #modalContenedor .carritoProductos a img {
      max-width: 100%;
      min-width: 60px;
      height: auto;
      margin: 5px;
      border-radius: 8px;
      transition: box-shadow 0.3s ease; }
      #modalContenedor .carritoProductos a img:hover {
        box-shadow: 0px 5px 8px rgba(255, 154, 154, 0.4); }
    #modalContenedor .carritoProductos h6 {
      font-size: 1rem;
      color: #f6f6f6; }
    #modalContenedor .carritoProductos .eliminarProducto {
      background-color: #1a1a1a;
      border: none; }
      #modalContenedor .carritoProductos .eliminarProducto i {
        color: #f6f6f6;
        font-size: 1.1rem;
        transition: color 0.3s ease; }
        #modalContenedor .carritoProductos .eliminarProducto i:hover {
          color: #ff9a9a; }

/* mensaje si el carrito está vacío */
.mensajeCarritoVacio {
  align-items: center;
  padding: 30px; }
  .mensajeCarritoVacio h3 {
    color: #f6f6f6;
    margin: 20px;
    font-size: 1.3rem; }

/* precio total de los productos en el carrito */
.footerModal {
  background-color: #1a1a1a;
  padding-bottom: 12px;
  position: sticky;
  bottom: 0px;
  z-index: 9999;
  justify-content: space-evenly; }
  .footerModal h2 {
    display: inline-block;
    width: auto;
    font-size: 1.2rem;
    padding: 15px;
    text-align: center;
    margin: 15px;
    color: #f6f6f6;
    border-bottom: 2px solid #ff9a9a; }
  .footerModal button {
    display: inline-block;
    width: auto;
    padding: 0px 15px;
    margin: 15px;
    background-color: #f6f6f6;
    color: #1a1a1a;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    transition: color 0.3s ease; }
    .footerModal button:hover {
      background-image: linear-gradient(to bottom, #ff9a9a, #fbadad);
      color: #1a1a1a; }

/* contenedor del contador */
#verCarrito {
  position: relative;
  display: inline-block;
  /* contador */ }
  #verCarrito #cantidadCarrito {
    width: 20px;
    height: 20px;
    position: absolute;
    display: none;
    font-size: 0.7rem;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    color: #1a1a1a;
    background-color: #ff9a9a;
    border-radius: 50%;
    padding: 2px;
    top: 21px;
    right: -2px; }

/* media queries: carrito */
@media screen and (max-width: 991px) {
  /* titulo del carrito */
  #modalContenedor .modalTitulo h2 {
    font-size: 1.4rem; }
  /* botón para cerrar carrito */
  #modalContenedor .modalTitulo .modalBoton {
    padding: 8px; }
    #modalContenedor .modalTitulo .modalBoton i {
      font-size: 1.2rem; }
  /* informacion de los productos en el carrito */
  #modalContenedor .carritoProductos {
    padding: 10px;
    /* nombre */
    /* precio */
    /* botón para eliminar un producto del carrito */ }
    #modalContenedor .carritoProductos a h5 {
      font-size: 0.8rem; }
    #modalContenedor .carritoProductos h6 {
      font-size: 0.8rem; }
    #modalContenedor .carritoProductos .eliminarProducto i {
      font-size: 0.8rem; }
  /* mensaje si el carrito está vacío */
  .mensajeCarritoVacio {
    padding: 20px; }
    .mensajeCarritoVacio h3 {
      margin: 15px;
      font-size: 1.1rem; }
  /* precio total de los productos en el carrito */
  .footerModal {
    padding-bottom: 10px; }
    .footerModal h2 {
      font-size: 0.9rem;
      padding: 10px;
      margin: 15px, 10px, 10px, 10px; }
    .footerModal button {
      padding: 0px 10px;
      margin: 15px, 10px, 10px, 10px;
      border-radius: 8px;
      font-size: 0.9rem; } }

@media screen and (max-width: 768px) {
  /* titulo del carrito */
  #modalContenedor .modalTitulo h2 {
    font-size: 1.2rem; }
  /* botón para cerrar carrito */
  #modalContenedor .modalTitulo .modalBoton i {
    font-size: 1.2rem; }
  /* informacion de los productos en el carrito */
  /* nombre */
  #modalContenedor .carritoProductos a h5 {
    font-size: 0.7rem; }
  /* precio */
  #modalContenedor .carritoProductos h6 {
    font-size: 0.7rem; }
  /* botón para eliminar un producto del carrito */
  #modalContenedor .carritoProductos .eliminarProducto i {
    font-size: 0.7rem; }
  /* mensaje si el carrito está vacío */
  .mensajeCarritoVacio {
    padding: 15px; }
    .mensajeCarritoVacio h3 {
      margin: 10px;
      font-size: 0.9rem; }
  /* precio total de los productos en el carrito */
  .footerModal h2 {
    font-size: 0.8rem;
    padding: 8px;
    margin: 12px, 8px, 8px, 8px;
    border-bottom: 1.8px solid #ff9a9a; }
  .footerModal button {
    padding: 0px 8px;
    margin: 12px, 8px, 8px, 8px;
    font-size: 0.8rem; }
  /* contador */
  #verCarrito #cantidadCarrito {
    width: 18px;
    height: 18px;
    font-size: 0.6rem;
    padding: 2px; } }

@media screen and (max-width: 576px) and (min-width: 320px) {
  /* titulo del carrito */
  #modalContenedor .modalTitulo h2 {
    font-size: 1rem; }
  /* botón para cerrar carrito */
  #modalContenedor .modalTitulo .modalBoton i {
    font-size: 1rem; }
  /* informacion de los productos en el carrito */
  #modalContenedor .carritoProductos {
    width: 100%;
    padding: 4px;
    /* nombre */
    /* precio */
    /* botón de papelera para eliminar un producto del carrito */ }
    #modalContenedor .carritoProductos a h5 {
      font-size: 0.6rem; }
    #modalContenedor .carritoProductos h6 {
      font-size: 0.6rem; }
    #modalContenedor .carritoProductos .eliminarProducto {
      font-size: 0.6rem; }
  /* mensaje si el carrito está vacío */
  .mensajeCarritoVacio {
    padding: 10px; }
    .mensajeCarritoVacio h3 {
      margin: 5px;
      font-size: 0.7rem; }
  /* precio total de los productos en el carrito */
  .footerModal h2 {
    font-size: 0.6rem;
    padding: 6px;
    margin: 10px, 2px, 8px, 2px;
    border-bottom: 1.5px solid #ff9a9a; }
  .footerModal button {
    padding: 0px 4px;
    margin: 10px, 2px, 8px, 2px;
    font-size: 0.6rem; }
  /* contador */
  #verCarrito #cantidadCarrito {
    width: 17px;
    height: 17px;
    font-size: 0.6rem;
    padding: 1px;
    top: 18px;
    right: -4px; } }

/* MAIN: GENERAL */
/* cuando se presiona un boton */
.btnMousedown {
  transition: all 0.4s ease-in-out !important;
  font-weight: 800 !important; }

/* cuando se suelta un boton */
.btnMouseUp {
  transition: all 0.4s ease-in-out !important;
  font-weight: 500 !important; }

/* titulo de la seccion */
.section-titulo {
  font-size: 1.75rem;
  font-weight: 500;
  text-align: center;
  padding: 10px;
  margin-top: 30px; }

/* cards */
#contenedor-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: minmax(auto, max-content);
  justify-items: center;
  align-items: start; }

.card {
  border: none;
  width: 290px;
  margin: 25px; }
  .card .card-img-top {
    transition: box-shadow 0.3s ease;
    border-radius: 8px; }
    .card .card-img-top:hover {
      box-shadow: 0px 5px 8px rgba(26, 26, 26, 0.4); }
  .card .card-title {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 14px; }
  .card .card-subtitle {
    font-size: 1rem;
    text-align: center; }
  .card .btn-card {
    padding: 7px;
    background-color: #1a1a1a;
    color: #f6f6f6;
    border: none;
    border-radius: 10px;
    font-size: 0.9rem;
    font-weight: 500;
    text-align: center;
    transition: color 0.3s ease; }
    .card .btn-card:hover {
      background-image: linear-gradient(to bottom, #ff9a9a, #fbadad);
      color: #1a1a1a; }

/* media queries: main general */
@media screen and (max-width: 1399px) {
  /* cards */
  #contenedor-cards {
    grid-template-columns: repeat(4, minmax(270px, 1fr)); }
  .card {
    width: 250px;
    margin: 10px; } }

@media screen and (max-width: 1200px) {
  /* cards */
  #contenedor-cards {
    grid-template-columns: repeat(4, minmax(220px, 1fr)); }
  .card {
    width: 200px;
    margin: 10px; } }

@media screen and (max-width: 992px) {
  /* titulo de la sección */
  .section-titulo {
    font-size: 1.4rem; }
  /* cards */
  #contenedor-cards {
    grid-template-columns: repeat(3, minmax(190px, 1fr)); }
  .card {
    width: 220px;
    margin: 6px; }
    .card .btn-card {
      border-radius: 8px;
      font-size: 0.7rem; } }

@media screen and (max-width: 768px) {
  /* titulo de la sección */
  .section-titulo {
    font-size: 1.2rem; }
  /* cards */
  /* cards */
  #contenedor-cards {
    grid-template-columns: repeat(2, minmax(260px, 1fr)); }
  .card {
    max-width: 320px;
    min-width: 250px;
    width: 40%;
    margin: 5px; } }

@media screen and (max-width: 576px) and (min-width: 320px) {
  /* titulo de la sección */
  .section-titulo {
    font-size: 0.9rem; }
  /* cards */
  #contenedor-cards {
    grid-template-columns: repeat(2, minmax(130px, 1fr)); }
  .card {
    max-width: 220px;
    min-width: 140px; }
    .card .card-title {
      font-size: 0.75rem; }
    .card .card-subtitle {
      font-size: 0.6rem; }
    .card .btn-card {
      padding: 6px;
      border-radius: 6px;
      font-size: 0.5rem; } }

/* MAIN: INDEX */
/* banner */
#sectionUno {
  width: 100vw;
  height: 480px;
  background-image: url(../images/banner_index.jpg);
  background-size: cover;
  text-align: center; }
  #sectionUno .sectionUno-subtituloBanner {
    font-size: 5rem;
    font-weight: bold; }
  #sectionUno .sectionUno-parrafoBanner {
    width: 800px;
    font-size: 1rem;
    font-weight: 500;
    margin: 0 auto 30px auto; }

/* media queries: main index */
@media screen and (max-width: 991px) {
  /* banner */
  #sectionUno {
    height: 380px; }
    #sectionUno .sectionUno-subtituloBanner {
      font-size: 4rem; }
    #sectionUno .sectionUno-parrafoBanner {
      width: 660px;
      font-size: 0.9rem; } }

@media screen and (max-width: 768px) {
  /* banner */
  #sectionUno {
    height: 320px; }
    #sectionUno .sectionUno-subtituloBanner {
      font-size: 2.9rem; }
    #sectionUno .sectionUno-parrafoBanner {
      width: 400px;
      font-size: 0.8rem; } }

@media screen and (max-width: 576px) and (min-width: 320px) {
  /* banner */
  #sectionUno {
    height: 220px; }
    #sectionUno .sectionUno-subtituloBanner {
      font-size: 1.5rem; }
    #sectionUno .sectionUno-parrafoBanner {
      width: 300px;
      font-size: 0.6rem; } }

/* MAIN: COMO COMPRAR */
.como-comprar-container {
  background-color: #1a1a1a;
  color: #f6f6f6;
  /* vende lo que ya no usas */ }
  .como-comprar-container img {
    width: 70px;
    margin: 26px; }
  .como-comprar-container h3 {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 16px; }
  .como-comprar-container .como-comprar-texto {
    font-size: 0.875rem;
    color: #f6f6f6; }
  .como-comprar-container .como-comprar-texto-subtitulos {
    font-size: 1rem;
    color: #f6f6f6; }
  .como-comprar-container a .como-comprar-texto-subtitulos {
    transition: color 0.3s ease; }
    .como-comprar-container a .como-comprar-texto-subtitulos:hover {
      color: #ff9a9a; }

/* media queries: main como comprar */
@media screen and (max-width: 991px) {
  .como-comprar-container img {
    width: 65px; }
  .como-comprar-container h3 {
    font-size: 1.3rem; }
  .como-comprar-container .como-comprar-texto {
    font-size: 0.8rem; }
  .como-comprar-container .como-comprar-texto-subtitulos {
    font-size: 0.9rem; } }

@media screen and (max-width: 768px) {
  .como-comprar-container h3 {
    font-size: 1.5rem; }
  .como-comprar-container .como-comprar-texto {
    font-size: 1rem; }
  .como-comprar-container .como-comprar-texto-subtitulos {
    font-size: 1.1rem; } }

@media screen and (max-width: 576px) and (min-width: 320px) {
  .como-comprar-container img {
    width: 60px; }
  .como-comprar-container h3 {
    font-size: 1rem; }
  .como-comprar-container .como-comprar-texto {
    font-size: 0.8rem; }
  .como-comprar-container .como-comprar-texto-subtitulos {
    font-size: 0.9rem; } }

/* MAIN: CONOCENOS */
/* texto */
.parrafo-conocenos {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 20px 0px; }

/* carrusel de imagenes */
.imagen-conocenos {
  border-radius: 10px;
  object-fit: cover; }

/* media queries: main conocenos */
@media screen and (max-width: 768px) {
  /* texto */
  .parrafo-conocenos {
    font-size: 1rem; } }

@media screen and (max-width: 576px) and (min-width: 320px) {
  /* texto */
  .parrafo-conocenos {
    font-size: 0.8rem;
    margin: 20px 20px 10px 20px; } }

/* MAIN: CONTACTO */
/* redes sociales */
.subtitulo-contacto {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 40px; }

.red-social-contacto {
  margin-bottom: 40px; }
  .red-social-contacto i {
    font-size: 2rem;
    text-align: center;
    transition: color 0.3s ease; }
    .red-social-contacto i:hover {
      color: #ff9a9a; }
  .red-social-contacto figcaption {
    font-size: 1.2rem;
    font-weight: 500;
    color: #1a1a1a;
    transition: color 0.3s ease; }
    .red-social-contacto figcaption:hover {
      color: #ff9a9a; }

/* formulario */
form .form-control-sm {
  padding: 10px;
  border: 1px solid #b7b7b7;
  font-weight: 500; }

form .text-area {
  resize: none;
  height: 150px; }

form .btn-form {
  padding: 8px;
  background-color: #1a1a1a;
  color: #f6f6f6;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s ease; }
  form .btn-form:hover {
    background-image: linear-gradient(to bottom, #ff9a9a, #fbadad);
    color: #1a1a1a; }

/* media queries: main contacto */
@media screen and (max-width: 1200px) {
  /* redes sociales */
  .subtitulo-contacto {
    font-size: 1rem; }
  .red-social-contacto i {
    font-size: 1.5rem; }
  .red-social-contacto figcaption {
    font-size: 1rem; }
  /* formulario */
  .btn-form {
    font-size: 0.8rem; } }

@media screen and (max-width: 576px) and (min-width: 320px) {
  /* redes sociales */
  .subtitulo-contacto {
    font-size: 0.9rem;
    margin-bottom: 20px; }
  .red-social-contacto {
    margin-bottom: 20px; }
    .red-social-contacto i {
      font-size: 1.2rem; }
    .red-social-contacto figcaption {
      font-size: 0.9rem; }
  /* formulario */
  .btn-form {
    font-size: 0.9rem; } }

/* FOOTER */
footer {
  flex-shrink: 0;
  background-color: #1a1a1a;
  padding-top: 24px;
  padding-bottom: 18px; }

/* logo */
.logo-footer {
  width: 100px;
  margin-bottom: 6px; }

/* redes sociales */
.red-social-icon {
  color: #f6f6f6;
  font-size: 1.5rem;
  transition: color 0.3s ease;
  margin: 24px 0px; }
  .red-social-icon:hover {
    color: #ff9a9a; }

/* copyright */
.h4-copyright {
  text-align: center;
  font-size: 0.625rem;
  font-weight: 500;
  color: #b7b7b7; }

/* media queries: footer */
@media screen and (max-width: 991px) {
  /* redes sociales */
  .red-social-icon {
    margin: 18px 0px; } }

@media screen and (max-width: 576px) and (min-width: 320px) {
  /* redes sociales */
  .red-social-icon {
    font-size: 1.3rem;
    margin: 14px 0px; } }
