@import "./variables";

/* FOOTER */
footer {
    flex-shrink: 0;
    background-color: map-get($colores, "primario");
    padding-top: 24px;
    padding-bottom: 18px;
}

/* logo */
.logo-footer {
    width: 100px;
    margin-bottom: 6px;
}

/* redes sociales */
.red-social-icon {
    color: map-get($colores, "secundario");
    font-size: 1.5rem;
    @include hover-acento();
    margin: 24px 0px;
}

/* copyright */
.h4-copyright {
    text-align: center;
    font-size: 0.625rem;
    font-weight: 500;
    color: map-get($colores, "gris");
}

/* media queries: footer */
@media screen and (max-width: 991px) {
    /* redes sociales */
    .red-social-icon {
        margin: 18px 0px;
    }
}

@media screen and (max-width: 576px) and (min-width: 320px) {
    /* redes sociales */
    .red-social-icon {
        font-size: 1.3rem;
        margin: 14px 0px;
    }
}